<!DOCTYPE root[<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1065" key="fc0556a8-9c71-4b82-8317-5b3a9da411cf" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-28T11:08:07" updateDate="2018-09-28T11:08:07" nodeName="Homepage" urlName="homepage" path="-1,1065" isDoc="" nodeType="1061" creatorName="Richard Remmers" writerName="Richard Remmers" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[Welcome to Titan Service]]></pageTitle>
    <bodyText><![CDATA[<p><span>Hello world! We can write what we like here!</span></p>]]></bodyText>
    <footerText><![CDATA[Titan Inc.  A Burke Porter Group Company]]></footerText>
    <simpleContentPage id="1069" key="9db05d5d-40eb-43a4-8a7c-604c5497bf7c" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2018-09-28T13:27:16" updateDate="2018-09-28T13:27:16" nodeName="Caterpillar" urlName="caterpillar" path="-1,1065,1069" isDoc="" nodeType="1068" creatorName="Richard Remmers" writerName="Richard Remmers" writerID="0" template="1067" nodeTypeAlias="simpleContentPage" isPublished="false">
      <pageTitle><![CDATA[Site specific]]></pageTitle>
      <bodyText><![CDATA[<p>The landing page</p>]]></bodyText>
      <footerText><![CDATA[Titan Inc. ]]></footerText>
    </simpleContentPage>
  </homePage>
</root>